aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.6.0
anthropic==0.51.0
anyio==3.6.2
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.12.2
blinker==1.9.0
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cf-clearance2==0.28.3
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
deprecation==2.1.0
deta==1.1.0
distlib==0.3.8
distro==1.8.0
docutils==0.20.1
dotenv==0.9.9
environs==9.5.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
filelock==3.16.0
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
frozenlist==1.6.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.11.0
google-api-python-client==2.87.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
gotrue==2.12.0
greenlet==2.0.1
grpcio==1.66.1
gunicorn==20.1.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.4
iniconfig==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
jiter==0.9.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
langchain-core==0.2.37
langchain-milvus==0.1.4
langsmith==0.1.108
lxml==4.9.3
MarkupSafe==2.1.1
marshmallow==3.22.0
milvus-lite==2.4.9
multidict==6.4.3
narwhals==1.38.2
nest-asyncio==1.5.6
numpy==1.23.5
oauthlib==3.2.2
openai==1.78.0
OpenAIAuth==0.0.6
opencv-python==4.8.1.78
openpyxl==3.1.2
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.1
pandas==1.5.2
pillow==11.2.1
platformdirs==4.3.2
playwright==1.28.0
pluggy==1.5.0
postgrest==1.0.1
propcache==0.3.1
protobuf==4.23.1
psycopg2-binary==2.9.5
pyarrow==20.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
pyee==9.0.4
PyJWT==2.10.1
pymilvus==2.4.6
pyparsing==3.0.9
PySocks==1.7.1
pytest==8.3.5
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.5
pytube==15.0.0
pytz==2022.6
PyYAML==6.0.2
realtime==2.4.3
referencing==0.36.2
requests==2.31.0
requests-oauthlib==1.3.1
revChatGPT==0.0.44
rfc3986==1.5.0
rpds-py==0.24.0
rsa==4.9
schedule==1.2.0
scipy==1.14.1
selenium==4.18.1
six==1.16.0
slack-bolt==1.16.0
slack-sdk==3.19.5
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.39
sqlalchemy-cockroachdb==1.4.4
storage3==0.11.3
streamlit==1.45.0
StrEnum==0.4.15
supabase==2.15.1
supafunc==0.9.4
tenacity==8.5.0
tls-client==0.1.5
toml==0.10.2
tomli==2.2.1
tornado==6.4.2
tqdm==4.66.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.26.4
watchdog==6.0.0
webdriver-manager==4.0.1
websockets==14.2
Werkzeug==2.2.2
wsproto==1.2.0
yarl==1.20.0
youtube-transcript-api==0.6.1
